<div class="state-message">
  <div class="message-container">
    <div class="btn" (click)="game.addBot()"><i class="fa fa-users" aria-hidden="true"></i></div>
    <div *ngIf="state.guard?.action === 'ATTACKING'" class="message">
      <p>Grim reaper is coming... RUN!</p>
      <img class="animated slideInUp" [src]="state.guard?.avatar">
    </div>
    <div *ngIf="state.guard?.action !== 'ATTACKING'" class="message">
      <p>Go to the flag, keep distance from guard area!</p>
    </div>
  </div>
</div>
