<div class="panel-header">
  <i class="fa fa-info" aria-hidden="true"></i>
</div>
<div class="panel-body">
  <h3 class="about-title">Artificial Intelligence Project</h3>
  <p>The aim of this project is to experiment A* search algorithm</p>
  <p>This game is written in Typescript, it doesn't use a game engine, just RxJS Observables</p>
  <p>Powered by Angular <i class="fa fa-heart-o" aria-hidden="true"></i></p>
  <div class="author">
    <p>Author: Murhaf Sousli</p>
    <ul>
      <li>
        <a href="https://twitter.com/MurhafSousli"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://github.com/MurhafSousli"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="http://murhafsousli.com"><i class="fa fa-globe" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <p></p>
  <p></p>
  <p>Characters Sprites by <a href="http://untamed.wild-refuge.net/rmxpresources.php?characters">Sithjester</a></p>
  <p></p>
  <p></p>
  <p></p>
</div>
<div class="panel-footer">
  <div class="btn-container">
  <div class="btn" (click)="game.resumeGame()">
    <i class="fa fa-times" aria-hidden="true"></i> Close</div>
  </div>
</div>
