/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  font-family: monospace, monospace;
  overflow: hidden;
}

app-root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  z-index: 999;
  width: 100%;
  background-color: $bg-dark;
  box-shadow: 0 0 2px rgba(black, .8);
  font-size: .7em;
  text-align: center;
  color: white;
  font-style: italic;
  h1 {
    flex: 1;
  }
  .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 55px;
    font-size: 2em;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
}

game {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

game-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: url(assets/img/bg.png) repeat;
  &:hover {
    cursor: url(assets/img/cursor.png), default;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


a {
  transition: all 200ms linear;
  color: $action-color;
  &:hover {
    color: $highlight-color;
    text-shadow: 0 0 5px $highlight-color;
  }
}
