game{
  position: relative;
}
.effect {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 1em;
  padding: 0;
  border: none;
  background: red;
  color: #286aab;
  font-size: 1.4em;
  transition: color 0.7s;
  border-radius: 50%;
  height: 20px;
  width: 20px;

  &:after {
    background: rgba(111,148,182,0.1);
    animation: anim-effect-boris 0.3s forwards;
  }
}

@keyframes anim-effect-boris {
  0% {
    transform: scale3d(0.3, 0.3, 1);
  }
  25%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
}


.blood{
  animation: blood 1s forwards;
}

@keyframes blood {
  from {
    object-position: 0 0;
  }
  to {
    object-position: -500px 0;
  }
}
