state-info {
  font-family: monospace, monospace;
}

.game-state {
  flex: 1;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  align-items: center;
  padding: 5px;
}
.lives{
  color: rgba(red, .8);
  display: flex;
  min-width: 60px;
  justify-content: space-between;
}

.hero-image {
  width: 100px;
}

.hero-items {
  margin: 10px;
  flex: 1;
}

.hero-items, .hero-image {
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 3px rgba(black, .8);
}
