
.game-state {
  background-color: $action_color;
  flex: 1;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  align-items: center;
  padding: 5px;
}
.lives{
  color: rgba(red, .8);
  display: flex;
  min-width: 60px;
  direction: rtl;
  i{
    margin-left: 5px;
    text-shadow: 0 1px 0 rgba(0,0,0, .8);
  }
}

.hero-image {
  width: 100px;
}

.hero-items {
  margin: 10px;
  flex: 1;
}

.hero-items, .hero-image {
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 3px rgba(black, .8);
}
