.modal {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, .6);
}

.panel {
  background-color: rgba(black, .8);
  border: 2px solid $action-color;
  border-radius: 4px;
  color: $action-color;
  padding: 30px 60px;
  margin: 20px;
  a {
    color: $action-color;
  }

  &-header {
    margin: 30px 0 20px;
    font-size: 4em;
    text-align: center;
  }
  &-body {
    border-top: 2px solid $action-color;
    border-bottom: 2px solid $action-color;
    padding: 10px 5px;
    max-height: 220px;
    overflow: auto;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: .2em;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-track {
      width: .3em;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: transparent;
      color: $action-color;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $action-color;
      outline: 1px solid $action-color;
    }
  }
  &-footer {
    .btn-container {
      margin: 0 auto;
      width: 100%;
      .btn {
        margin: 20px 0;
        cursor: pointer;
        &:hover {
          color: $highlight-color;
        }
      }
    }
  }
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  margin: 20px auto;
  max-width: 300px;
  font-size: 1.3em;
}

.about-title {
  text-align: center;
  border-bottom: 2px dashed $action-color;
  padding: 40px 0;
  margin-bottom: 40px;
}
