.player .sprite {
  max-height: 96%;
  width: 100%;
  background-position-x: 0;
}

.idle {
  animation: none !important;
}

.dead {
  display: none;
}

.point {
  position: absolute;
  width: 5px;
  height: 5px;
  margin: 25px 0 0 25px;
  border-radius: 50%;
}
