.player {
  z-index: 10;
  .sprite {
    max-height: 96%;
    width: 100%;
    background-position-x: 0;
  }
}

.idle {
  animation: none !important;
}

.dead {
  display: none;
}

.point-container {
  z-index: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
