state-message{
  width: 100%;
}
.state-message{
  height: 55px;
  background-color: $bg-dark;
  color: $action-color;
  position: relative;
  display: flex;
  width: 100%;

  .message{
    margin-left: 70px;
    flex: 1;
    display: flex;
    font-size: .8em;
    .attack-state{
      flex: 1;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  }
  img{
    position: absolute;
    top:-15px;
    right: 0;
    max-width: 120px;
  }

  .btn{
    position: fixed;
    left: .677em;
    bottom: .677em;
    font-size: 1.4em;

    color: white;
    background-color: $btn-color;
    padding: .677em;
    border-radius: 50%;
    box-shadow: 0 0 1px $action-color;
    transition: all 200ms linear;
    &:hover{
      box-shadow: 0 0 10px rgba($action-color, .8);
    }
    &:active{
      box-shadow: 0 0 1px rgba($action-color, .8);
    }
  }
}
