state-message {
  z-index: 15;
  width: 100%;
  background-color: $bg-dark;
  color: $action-color;
  height: 55px;
}

.state-message {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  .message-container {
    flex: 1;
    display: flex;
    font-size: .9em;
    align-content: center;

    .message {
      margin-left: 10px;
      flex: 1;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  }
  img {
    position: absolute;
    top: -15px;
    right: 0;
    max-width: 120px;
  }

  .btn {
    margin: .6em;
    font-size: 1.1em;
    color: white;
    background-color: $btn-color;
    padding: .677em;
    border-radius: 50%;
    box-shadow: 0 0 10px $bg-dark;
    transition: all 200ms linear;
    &:hover {
      box-shadow: 0 0 10px rgba($action-color, .8);
    }
    &:active {
      box-shadow: 0 0 1px rgba($action-color, .8);
    }
  }
}
