:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: url(../../../assets/img/bg.png) repeat;

  &:hover {
    cursor: url(../../../assets/img/cursor.png), default;
  }
}
.no-select {
  user-select: none;
}

.viewport {
  position: relative;
  width: 100%;
  height: 100%;
}
