/* You can add global styles to this file, and also import other style files */
body, html{
  height: 100%;
}
app-root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
game{
  flex: 1;
  display: flex;
}
grid{
  box-sizing: border-box;
  flex: 1;
  position: relative;
}
.tile{
  position: absolute;
  transition: all 400ms linear;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.grid-tile .tile{
  box-shadow: 0 0 2px black;
  background-color: #B5C9B5;
  &:hover{
    background-color: #b2ffda;
  }
}
.hero-tile .tile{

}

