html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//a {
//  transition: all 200ms linear;
//  color: $action-color;
//  &:hover {
//    color: $highlight-color;
//    text-shadow: 0 0 5px $highlight-color;
//  }
//}

.sprite {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position-x: 50%;
}
