.blood-effect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: blood 1s steps(6) forwards;
  }
}

@keyframes blood {
  0% {
    object-position: 0 0;
  }
  20%{
    opacity: 1;
  }
  40% {
    object-position: 0 0;
  }
  90% {
    object-position: -300px 0;
  }
  100%{
    opacity: 0;
  }
}
