.hero{
  transition: top 250ms linear, left 250ms linear, transform 200ms ease;

  .sprite {
    max-height: 96%;
    width: 65%;
    background-position-x: 0;
  }

  .walkingBottom {
    background-position: 0 0;
    animation: walkingBottom .5s steps(4) infinite;
  }
  .walkingLeft {
    background-position: 0  -48px;
    animation: walkingLeft .5s steps(4) infinite;
  }
  .walkingRight {
    background-position: 0 -96px;
    animation: walkingRight .5s steps(4) infinite;
  }
  .walkingTop {
    background-position: 0 -144px;
    animation: walkingTop .5s steps(4) infinite;
  }

  @keyframes walkingBottom {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -128px 0;
    }
  }
  @keyframes walkingLeft {
    from {
      background-position: 0 -48px;
    }
    to {
      background-position: -128px -48px;
    }
  }
  @keyframes walkingRight {
    from {
      background-position: 0 -96px;
    }
    to {
      background-position: -128px -96px;
    }
  }
  @keyframes walkingTop {
    from {
      background-position: 0 -144px;
    }
    to {
      background-position: -128px -144px;
    }
  }
}
